
<div style="border:1px solid black; text-align:left; padding-left: 1%;">

  <div style=" text-align:right; margin-right:1%">
    Cliquez sur une lettre :
      {{#each firstLetters}}
      <a href="/repertoire/{{this.FL}}"> {{this.FL}} </a>

    {{/each}}
  </div>
  <br>
  <div style="">

    <div style="display:inline-block">
    {{#each photo}}<img src="/images/vip/{{this.photo}}" style="height : 150px; width: auto; float:left; padding: 10px 10px 0 0" > <br>{{/each }}
    {{#each vip}}

    <b>Nom :</b> {{ this.prenom }} {{ this.nom }} <br><br>
    <b>Date de naissance :</b> {{formatDate this.dateNai 'DD MMMM YYYY' }} <br><br>
    <b>Nationalité :</b> {{ this.natio }} <br>

    {{/each }}

  {{#each  acteur}}

  Profession : Acteur(rice)
  Principal(aux) {{ typeProd }} :
    {{#each  film}}

    {{ this.nomFilm }} <a href="/repertoire/vip/{{ this.numReal }}"> {{ this.nomReal }} </a>

    {{/each}} <br>

  {{/each}} <br>

   <br>

  {{#if mariage }} <b>Mariage(s) :</b>{{#each mariage }} <a href="/repertoire/vip/{{ this.num }}">{{ this.prenom }} {{ this.nom }} </a> ({{ formatDate this.date 'MMMM YYYY' }}
                                        {{#if this.dateFin }}--> {{ formatDate this.dateFin 'MMMM YYYY' }} {{/if}}
                                        ) <b> Lieu : </b> {{ this.lieu }}
                                        {{#if this.motif }}  <b> Raison fin mariage :</b> {{ this.motif }} {{/if}} <br><br>{{/each}}
  {{/if}}

  {{#if liaison }} <b>Liaison(s) :</b>{{#each liaison }}   <a href="/repertoire/vip/{{ this.num }}">{{ this.prenom }} {{ this.nom }}</a> (){{formatDate this.date 'MMMM YYYY' }}) {{#if this.motif }} <b> Raison fin liaison :</b> {{ this.motif }} {{/if}} <br><br> {{/each }}
  {{/if}}

  {{#each vip}} <b>Qui-suis-je? :</b> {{ this.texte }} {{/each }} <br><br>

  {{#each photoSupp}} <img src="/images/vip/{{this.photo}}" style="height : 150px; width: auto;" > {{/each }}
  </div>
</div>
