
<div style="border:1px solid black; text-align:left; padding-left: 1%;">
  <h2>Cliquez sur une lettre :
    {{#each firstLetters}}

    <a href="/repertoire/{{this.FL}}"> {{this.FL}} </a>
    {{/each}}
  </h2>
  <br>
  <div style="display:flex; flex direction:row;">

    {{#each vip}}
    <img src="/images/vip/{{ this.photo }}" style="height : 150px; width: auto;" > <br>

    Nom : {{ this.prenom }} {{ this.nom }} <br><br>


    Date de naissance : {{ this.dateNai }} <br>
    Nationalité : {{ this.natio }} <br>
    {{/each}}
  </div>

  {{#each  metier}}

  Profession : {{ metier }}
  Principal(aux) {{ typeProd }} :
  {{#each  production}}

  {{ nomProd }} <a href="/repertoire/vip/{{ nom2 }}"> {{ nom2 }} </a>

  {{/each}} <br>

  {{/each}} <br>

  Mariage(s) : <br><br>

  Liaisons : <br><br>
</div>
