<h1> Mettre ici l'album photo des stars </h1>



<div id="imageVIP">

  {{#each vip}}
    <p> {{this.nom}} {{this.prenom}}</p>
    <button type="button" name="button"></button>
    <img src="" alt="">
    <button type="button" name="button"></button>
    <div class="">
    </div>
  {{/each}}
</div>


{{setVar "min" 1}}
{{setVar "max" 12}}
<div id="choixVIP">
<div id="choixImages">
  {{#each photo}}
<!-- min et max ont une valeur mais on ne peut pas s'en servir pour comme conditions d'un ifCond -->
    {{#ifCond this.numero '>=' ../min}}
      {{#ifCond this.numero '<=' ../max}}
        <a href="/repertoire/vip/{{ this.numero }}"> <img src="/images/vip/{{this.adresse}}"> </a>
      {{/ifCond}}
    {{/ifCond}}
  {{/each}}

  </div>
  <div id="choixButtons">
    <div>
      <button id="debut">Début</button>
      {{#ifCond 1 '!=' ../min}} <button id="precedent">Précédent</button> {{/ifCond}}
    </div>
    <div>
      <button id="suivant">Suivant</button>
      <button id="fin">Fin</button>
    </div>
  </div>
</div>
